body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    overflow: hidden;
    margin: auto;
    width: 95vw;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80vw;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: darkred;
}

#top-block {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

#headline-title-nav {
    font-family: 'Courier New', Courier, monospace;
    background-color: yellow;
}
#headline-title {
    font-family: 'Courier New', Courier, monospace;
    background-color: yellow;
    display:inline-block;
    font-size: 350%;
}

#coqu-nav {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    align-self: center;
}
.collectoin-quote-item {
    padding: 5px;
}

.btn {
    background-color: darkred;
    color: white;
    width: 10rem;
}

.btn:hover {
    color: darkred;
}

.collection-quote-list {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 90%;
    margin-top: 5rem;
}

.individual-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px 0 ;
    font-family: 'Courier New', Courier, monospace;
}

.individual-entry p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: flex-end;

}

