{% extends '_base.html' %}
{%load static%}

{% block title %}Home{% endblock title %}

{% block content %}
    <section id="inner-body" class="container text-center">
        <div id="top-block"><h1 id="headline-title">Quotes app</h1></div>
        <p>Quotes apps lets you save quotes that you've encountered all in one place!</p>
        <p>You can view all the quotes in one place via the quotes link.</p>
        <p>You can also place certain quotes in collections to group by theme or anything you want.</p>
    </section>
{% endblock content %}