{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Welcome!</h1>
    {% if user.is_authenticated %}
        Hi {{user.email}}
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}

    <h2><a href="{% url 'collections' %}">View Collections</a></h2>

    {% for bookQuote in object_list %}
        <div class="quote-entry">
            <h2><a href="{% url 'quote_detail' bookQuote.pk %}">{{ bookQuote.title }}</a></h2>
            <p>{{ bookQuote.quote }}</p>
        </div>
    {% endfor %}
{% endblock content %}