{% extends '_base.html' %}

{% block content %}
    <div class="quote-entry">
        <h1>"{{ object.quote }}"</h1>
        <p>Book Title: {{ object.title }}</p>
        <p>Author: {{ object.author}}</p>
        <p>Page: {{object.page}}</p>
        <p>Year of Publication: {{object.year_of_publication}}</p>
    </div>

    <div id="quote-detail-buttons">
        <a class="btn" href="{% url 'quote_edit' object.pk %}">Edit Quote</a>
        <a class="btn" href="{% url 'quote_delete' object.pk %}">Delete Quote</a>
    </div>
{% endblock content %}